* {
  margin: 0;
  padding: 0;
}
body{
  min-height: 100vh;
  display: flex;
}
.menu{
  background: black;
  height: 100vh;
  width: 20%;
  color: azure;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.topicos{
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.topicos a {
  margin: 10px;
  color: white;
  text-decoration: none;
  
}
.baixo {
  display:flex;
  justify-content: center;
  align-items: center;
  margin: 10%;
}

header p {
  margin-top: 1%;
  margin-left: 3.5%;
  font-size: 20px;
}
.cbç {
  margin-right: 10px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between; 
}

.cbç a {
  color: black;
}

img{
  width: 92.8%;
  margin-left: 10px;
  display: flex;
  margin :auto
}

.icon{
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  background-color: white;
  border-radius: 50px;  
  height: 4vh;
  width: 28px;
  margin-right:10px;
}

.usuario{
  border-radius: 10px;
  background-color: rgb(255, 255, 255); 
  width: 205px;
  height: 245px;
  margin: 40px;
  border-radius: 25px;
  border: 3px solid black;

}

.perfil{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  height: 30px;
  width: 30px;
  border-radius: 50px;
}

.perfil i {
  color: white;
}

.titulo{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-top: 5px;
}


.conteudo {
  display: flex;
  flex-direction: row;
}

main {
  background-color: rgba(253, 252, 253, 0.959);
  height: 85vh;
}

footer {
  margin-right: 10px;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;

}

footer a {
  color: black;
}


.material-checkbox {
  display: flex;
  align-items: center;
  font-size: 16px;
  color: #777777;
  cursor: pointer;
  padding: 2px;
}

.material-checkbox input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.checkmark {
  position: relative;
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 12px;
  border: 2px solid #00ff15;
  border-radius: 5px;
  transition: all 0.3s;
}

.material-checkbox input[type="checkbox"]:checked ~ .checkmark {
  background-color: #00ff15;
  border-color: #02790e;
}

.material-checkbox input[type="checkbox"]:checked ~ .checkmark:after {
  content: "";
  position: absolute;
  top: 2px;
  left: 6px;
  width: 4px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.material-checkbox input[type="checkbox"]:focus ~ .checkmark {
  box-shadow: 0 0 0 2px #dfec5065;
}

.material-checkbox:hover input[type="checkbox"] ~ .checkmark {
  border-color: #27c200;
}

.material-checkbox input[type="checkbox"]:disabled ~ .checkmark {
  opacity: 0.5;
  cursor: not-allowed;
}

.material-checkbox input[type="checkbox"]:disabled ~ .checkmark:hover {
  border-color: #4d4d4d;
}








button {
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  font-weight: bold;
  padding: 2px;;
  border: 2px solid #0a0a0a;
  border-radius: 10px;
  position: relative;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
  color: #0a0a0a;
  text-decoration: none;
  transition: 0.2s ease all;
  z-index: 1;
}

button:before {
  transition: 0.5s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: '';
  background-color: #080808;
  z-index: -1;
}

button:hover, button:focus {
  color: white;
}

button:hover:before, button:focus:before {
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
}

button:active {
  transform: scale(0.9);
}

.popup {
  display: none;
  margin-top: 9%;
  position: relative;
  width: 320px;
  height: fit-content;
  background: #FFFFFF;
  box-shadow: 0px 187px 75px rgba(0, 0, 0, 0.01), 0px 105px 63px rgba(0, 0, 0, 0.05), 0px 47px 47px rgba(0, 0, 0, 0.09), 0px 12px 26px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
  border-radius: 13px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  gap: 20px;
}

.iC {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  background: #ECF1FD;
  box-shadow: 0px 0.5px 0.5px #EFEFEF, 0px 1px 0.5px rgba(239, 239, 239, 0.5);
  border-radius: 5px;
}

.note {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.title {
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #2B2B2F;
}

.subtitle {
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 18px;
  color: #5F5D6B;
}
