* {
  margin: 0;
  padding: 0;
}
body{
  min-height: 100vh;
  display: flex;
}
.menu{
  background: black;
  height: 100vh;
  width: 20%;
  color: azure;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.topicos{
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.topicos a {
  margin: 10px;
  color: white;
  text-decoration: none;
  
}
.baixo {
  display:flex;
  justify-content: center;
  align-items: center;
  margin: 10%;
}

header p {
  margin-top: 1%;
  margin-left: 3.5%;
  font-size: 20px;
}
.cbç {
  margin-right: 10px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between; 
}

.cbç a {
  color: black;
}

img{
  width: 92.8%;
  margin-left: 10px;
  display: flex;
  margin :auto
}
.icon{
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  background-color: white;
  border-radius: 50px;  
  height: 4vh;
  width: 28px;
  margin-right:10px;
}
#user {
  background-color: rgb(255, 255, 255); 
  width: 145px;
  height: 85px;
  margin: 65px;
  border-radius: 25px;
  border: 3px solid black;
  display: flex;
  justify-content: center;
  align-items: center;

}
.perfil{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  height: 30px;
  width: 30px;
  border-radius: 50px;
}

.perfil i {
  color: white;
}

.usuario{
  display: flex;
  flex-direction: column;
  border-radius: 10px;

}

.conteudo {
  display: flex;
}

main {
  background-color: rgba(253, 252, 253, 0.959);
  height: 85vh;
}

footer {
  margin-right: 10px;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}

footer a {
  color: black;
  text-decoration: none;
}

footer :hover {
   transition: 0.5s;
   color: gray;
}

.btnOpenModal {
  font-size: 20px;
  padding: 5px;
  border: none;
  border-radius: 5px;
  background-color: black;
  color: white;
  cursor: pointer;
}



.modal-container {
  justify-content: center;
}

.active {
  display: flex;
}

.active .modal {
  animation: modal .4s;
}


.btns {
  display: flex;
  justify-content: space-between;
}

.btns button {
  font-size: medium;
  padding: 5px;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.btnOK {
 background-color: black;
}

.btnClose {
  background-color: black;
 }

 