* {
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
}

.MenuL {
  background: black;
  height: 100vh;
  width: 20%;
  color: azure;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}