*{
    box-sizing: border-box;
    margin: 0;
}

.header {
    display: flex;
    text-align: center;
}

.cabeça{
    text-align: center;
    color:black;
}

main{
    display: flex;
    justify-content: center;
    padding: 20px;

}

.table {
    border: 1px solid;

}
